* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    box-sizing: border-box;
    display: grid;
    place-content: center;
    height: 100vh;
    background: #b5e8fb;
}

.button {
    position: relative;
    bottom: -35px;
    left: 60px;
    width: 40px;
    height: 12px;
    background: #c91212;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    animation: close 5s alternate infinite;
}

.flash {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 160px;
    width: 100px;
    height: 35px;
    background: #212f3d;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.flash-eye {
    width: 35px;
    height: 25px;
    background: #415b75;
    border-radius: 5px;
}

.polaroid {
    position: relative;
    display: grid;
    place-content: center;
    width: 420px;
    height: 280px;
    background: #fff;
    border-radius: 40px;
    box-shadow: 10px 10px #9edff7;
}

.light {
    position: absolute;
    top: 40px;
    left: 60px;
    width: 15px;
    height: 15px;
    background: #c91212;
    border-radius: 50%;
    animation: blinks 5s infinite;
}

.lens {
    position: relative;
    width: 80px;
    height: 80px;
    background: #212f3d;
    border-radius: 50%;
    box-shadow: 0 0 0 30px #34495e, 0 0 0 40px #415b75, 0 0 0 60px #212f3d, 0 0 0 65px #2f455b, 5px 5px 0 70px rgba(0, 0, 0, 0.1);
    animation: shadow 5s infinite;
}

.lens::after {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    background: #999;
    opacity: 0.4;
    border-radius: 50%;
    animation: reflect 5s infinite;
}

.zoom {
    position: absolute;
    width: 200px;
    height: 100px;
    background: #999;
    border-radius: 100px 100px 0 0;
    opacity: 0.4;
    animation: rotation 5s infinite;
}

.rainbow {
    position: absolute;
    top: 120px;
    right: 0;
    width: 200px;
    height: 8px;
    background: rgba(214, 0, 121, 1);
    box-shadow: 0px 7px rgba(230, 141, 21, 1), 0px 14px rgba(254, 200, 3, 1), 0px 21px rgba(221, 229, 107, 1), 0px 28px rgba(62, 162, 48, 1), 0px 35px rgba(1, 136, 194, 1);
}

.lightning {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    animation: flash 5s infinite;
}

@keyframes close {
    0%,
    35%,
    55%,
    100% {
        transform: translateY(0);
    }

    45% {
        transform: translateY(30px);
    }
}

@keyframes blinks {
    0%,
    75%,
    80%,
    85%,
    90%,
    100% {
        background-color: #212f3d;
    }

    77%,
    82%,
    87% {
        background-color: #c91212;
    }
}

@keyframes flash {
    0%,
    95%,
    99%,
    100% {
        opacity: 0;
    }

    97% {
        opacity: 0.5;
    }
}

@keyframes rotation {
    0%,
    60%,
    70%,
    100% {
        transform: rotate(-45deg) translate(-35px, -100px);
    }

    65% {
        transform: rotate(-25deg) translate(-50px, -85px);
    }
}

@keyframes shadow {
    0%,
    60%,
    70%,
    100% {
        box-shadow: 0 0 0 30px #34495e, 0 0 0 40px #415b75, 0 0 0 60px #212f3d, 0 0 0 65px #2f455b, 5px 5px 0 70px rgba(0, 0, 0, 0.1);
    }

    65% {
        box-shadow: 0 0 0 30px #34495e, 0 0 0 40px #415b75, 0 0 0 60px #212f3d, 0 0 0 65px #2f455b, 0px 5px 0 70px rgba(0, 0, 0, 0.1);
    }
}

@keyframes reflect {
    0%,
    60%,
    70%,
    100% {
        transform: rotate(0deg) translate(50px, 40px);
    }

    65% {
        transform: rotate(20deg) translate(50px, 40px);
    }
}
