@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    place-content: center;
    min-height: 100vh;
    background-color: #6c9171;
}

.frame {
    position: relative;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 5px;
    box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.4);
    overflow: hidden;
    background: #333;
    color: #fff;
    font-family: 'Open Sans', Helvetica, sans-serif;
}

.morse {
    display: grid;
    place-content: center;
    width: 100%;
    height: 60%;
}

.keyboard {
    position: relative;
    width: 100%;
    height: 40%;
    background: #666;
    border-top: 2px solid #999;
    cursor: pointer;
}

.letters,
.letters-endline,
.numbers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

.e,
.light {
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin: 5px 5px;
    border-radius: 50%;
    transition: 0.3s;
}

#light.on {
    background-color: white;
    box-shadow: 0 0 15px 5px #fff;
}

.e {
    position: relative;
    isolation: isolate;
    background: linear-gradient(145deg, #939393, #333);
    box-shadow: 2px 2px 4px #666666, -2px -2px 4px #636363;
}

.e::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    border-radius: 50%;
    background: linear-gradient(145deg, #333, #939393);
    opacity: 0;
    transition: 0.3s;
}

.e:hover::before {
    opacity: 1;
}
