*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    place-content: center;
    height: 100vh;
}

.container {
    width: 500px;
    height: 500px;
    background: conic-gradient(
        rgb(141, 30, 181),
        rgb(32, 32, 230),
        rgb(58, 2, 2),
        rgb(141, 30, 181)
    );
    /* filter: blur(5px); */
    border-radius: 50%;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.7);
    /* animation: turn 3s linear infinite; */
}

@keyframes turn {
    from {
        transform: translate3d(30px, 0px, 300px);
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}
