:root {
    --transition: 0.4s ease-out;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #2f439c;
}

body::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: #f48507;
    opacity: 0;
    transition: opacity var(--transition);
}

body.active::before {
    opacity: 1;
}

.toggle {
    position: relative;
    min-width: 25rem;
    height: 10rem;
    padding: 0.5rem;
    border: 0.5rem solid rgba(0, 0, 0, 0.2);
    border-radius: 15rem;
    background-color: #2e394d;
    overflow: hidden;
    cursor: pointer;
}

.toggle input[type='checkbox'] {
    display: none;
}

.star {
    display: block;
    position: relative;
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background: #fff;
    overflow: hidden;
    transition: transform 0.7s cubic-bezier(0.17, 0.67, 0.47, 1.4);
}

.star.active {
    transform: translateX(15rem) rotate(360deg);
}

.star::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0.5rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    box-shadow: 100px 45px 0 3px #acb5c5, 50px 30px 0 8px #acb5c5,
        70px 75px 0 2px #acb5c5, 110px 100px 0 5px #acb5c5,
        95px 10px 0 6px #acb5c5, 10px 65px 0 3px #acb5c5, 30px 90px 0 #acb5c5,
        50px 110px 0 2px #acb5c5, 105px 70px 0 0 #acb5c5,
        85px 85px 0 -1px #acb5c5;
}

.star::after {
    content: '';
    position: absolute;
    z-index: 100;
    inset: 0;
    border-radius: 50%;
    background: linear-gradient(-45deg, #ff0000, #ffff00);
    box-shadow: 0px 0px 22px rgb(173, 15, 15);

    opacity: 0;
    transition: opacity var(--transition);
}

.star.active::after {
    opacity: 1;
}
