@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    color: #333;
}

.container ul {
    position: relative;
    display: flex;
    gap: 25px;
}

.container ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: linear-gradient(#fff, #fff);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: 0.5s;
}

.container ul li:hover {
    width: 200px;
    border-radius: 50px;
    /* background: linear-gradient(45deg, rgb(224, 105, 206), rgb(228, 33, 156)); */
}

.container ul li > span {
    font-size: 36px;
    position: absolute;
    transition: 0.5s 0.5s;
}

.container ul li:hover > span {
    transition-delay: 0s;
    transform: scale(0);
}

.container ul li .text {
    position: absolute;
    text-transform: uppercase;
    font-size: 26px;
    color: #333;
    transform: scale(0);
    transition: 0.5s;
}

.container ul li:hover .text {
    transition-delay: 0.3s;
    transform: scale(1);
}
