*,
::before,
::after {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    place-content: center;
    height: 100vh;
}

.frame {
    display: grid;
    place-content: center;
    width: 400px;
    height: 400px;
    border-radius: 5px;
    box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.3);
    background: #ffdcb5;
    z-index: -2;
}

.pig {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background: #f7949a;
}

.face {
    display: flex;
}

.ear {
    position: absolute;
    top: -5px;
    width: 60px;
    height: 60px;
    margin: 0 20px;
    border: solid 7px #f7949a;
    border-radius: 15px;
    background: #ffb7bc;
    z-index: -1;
}

.ear-l {
    left: -10px;
    transform: skew(10deg, 15deg);
}

.ear-r {
    right: -10px;
    transform: skew(-10deg, -15deg);
}

.eye {
    width: 4px;
    height: 4px;
    margin: 0 18px;
    border: solid 10px #fff;
    border-radius: 50%;
    background: #000;
    animation: pupils 15s infinite ease-in-out;
}

.snout {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 20px;
    width: 60px;
    height: 50px;
    border-radius: 50%;
    background: #ffb7bc;
}

.nostril {
    position: relative;
    top: -4px;
    width: 12px;
    height: 12px;
    margin: 0 5px;
    border-radius: 50%;
    background: #ce666d;
}

@keyframes pupils {
    0%,
    23%,
    25%,
    65%,
    67%,
    89%,
    91%,
    100% {
        transform: scaleY(1);
    }

    24%,
    66%,
    90% {
        transform: scaleY(0);
    }
}
