body {
    margin: 0;
    padding: 0;
    display: grid;
    place-content: center;
    height: 100vh;
    background: #ac474b;
}

.snowman {
    position: relative;
    width: 100px;
    height: 190px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hat {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60px;
    height: 45px;
}

.top {
    background: #0e1f2b;
    width: 40px;
    height: 15px;
}

.mid {
    background: #ffffff;
    width: 40px;
    height: 10px;
}

.bottom {
    background: #0e1f2b;
    width: 61px;
    height: 5px;
}

.head {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 60px;
    height: 60px;
    top: 40px;
    background: #ffffff;
    border-radius: 50%;
    z-index: -1;
}

.eye {
    position: relative;
    width: 10px;
    height: 10px;
    margin: 18px 5px;
    background: #0e1f2b;
    border-radius: 50%;
}

.scarf {
    position: absolute;
    top: 80px;
    width: 60px;
    height: 10px;
    margin: auto;
    background: #ffa63f;
    border-radius: 10px;
    border: 4px solid #ac474b;
}

.body {
    position: absolute;
    bottom: 0;
    width: 100px;
    height: 100px;
    background: #ffffff;
    border-radius: 50%;
    z-index: -1;
}
