@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #111;
    /* font-family: 'Rubik'; */
}

header {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

header nav {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    margin: 100px;
    width: auto;
}

header a {
    text-decoration: none;
    text-transform: capitalize;
    color: #fff;
    font-size: 60px;
    transition: opacity 0.3s ease;
}

header nav:hover a {
    opacity: 0.3;
}

header nav:hover a:hover {
    opacity: 1;
}

header .bc-menu {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(120, 120, 120, 0.3) 9%, transparent 9%);
    background-size: 12vmin 12vmin;
    background-position: 0 0;
    transition: 0.3s;
}

header .image-menu {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/theater.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: .2;
    transition: 0.3s;
}

nav:hover ~ .bc-menu {
    background-size: 11vmin 11vmin;
    opacity: 0.5;
}
nav:hover ~ .image-menu {
    background-size: cover 100%;
    opacity: 0.1;
}

#menu[data-active-index='0'] ~ .bc-menu {
    background-position: 0 25%;
}

#menu[data-active-index='1'] ~ .bc-menu {
    background-position: 0 50%;
}

#menu[data-active-index='2'] ~ .bc-menu {
    background-position: 0 75%;
}

#menu[data-active-index='3'] ~ .bc-menu {
    background-position: 0 100%;
}
