.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 5px;
    box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background: #684595;
    color: #333;
    font-family: 'Open Sans', Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid white;
    cursor: pointer;
}

#mic {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.micro {
    display: flex;
    justify-content: center;
    align-items: top;
    height: 52px;
    width: 25px;
    background: white;
    border-radius: 25px;
}

.manche {
    height: 10px;
    width: 4px;
    background: white;
}

.pied {
    height: 4px;
    width: 25px;
    background: white;
    border-radius: 3px;
}

.buble {
    margin-top: 7px;
    height: 16px;
    width: 6px;
    background: #684595;
    border-radius: 3px;
}

#mic.active {
    animation: disapear 0.8s cubic-bezier(0.28, -0.5, 0.68, 0.98) forwards;
}

@keyframes disapear {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0);
    }
}

#dots {
    animation: disapear 1s reverse;
    display: none;
}

.dot {
    width: 11px;
    height: 11px;
    margin: 0 5px;
    background-color: white;
    border-radius: 50%;
    transform: 1s;
    animation: jump 1s ease-in-out infinite;
}

.dot2 {
    animation-delay: 0.2s;
}

.dot3 {
    animation-delay: 0.4s;
}

@keyframes jump {
    0%,
    100% {
        transform: translateY(5px);
    }
    50% {
        transform: translateY(-5px);
    }
}
